*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: #333; /* Cambia el color de fondo del cuerpo */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0
}