/AngularJS/WebApplication1/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Project/nbproject/private/
/Project/build/
/Servicio-CRUD/nbproject/private/
/Servicio-CRUD/build/
/ServicioCrudCliente/nbproject/private/
/ServicioCrudCliente/build/
/Servicio-Client/nbproject/private/
/Servicio-Client/build/
/Cliente/nbproject/private/
/Project/Cliente/nbproject/private/
/Project/Servicio-CRUD/build/
/Project/Servicio-CRUD/nbproject/private/
/Project/Cliente/build/
